.env
peers/
*-config/
wgeasy-data/
wetty-ssl/
caddy-certs/
pihole-etc/
portainer-data/
chrome-config/
backrest-data/
backrest-repos/
kuma-data/
filebrowser-srv/
caddy-data/
screenshot*.png
sshpass_*.deb

.idea